{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-md-8">
        {% block main %}{% endblock main %}
    </div>
    <div class="col-md-4">
        {{ partials.sidebar() | raw }}
    </div>
</div>
{% endblock %}